@page
@model Ginseng.Mvc.Pages.Roadmap.IndexModel
@{
    ViewData["Title"] = "Roadmap";    
}

<h3>Roadmap</h3>

@if (!Model.CurrentOrgUser.CurrentAppId.HasValue)
{
    <p>Please select an application from the dropdown above.</p>
    return;
}

<button class="btn btn-light dropdown-toggle btn-sm mb-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-flag-checkered"></i>
    <span>Select Milestones</span>
</button>
<div class="dropdown-menu">
    @foreach (var ms in Model.Milestones)
    {        
        <form method="post">            
            <input type="hidden" name="MilestoneId" value="@ms.Id"/>
            <a class="dropdown-item roadmapMilestone">
                @Html.CheckBox("selected", Model.IsMilestoneOnRoadmap(ms.Id), new { @class = "milestoneCheckbox" })                
                <span>@ms.Name - @Html.FormatValue(ms.Date, "{0:M/d/yy}")</span>
            </a>
        </form>                            
    }
</div>

<div class="row">
    @foreach (var ms in Model.ActiveMilestones())
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-flag-checkered"></i>
                    <span>@ms.Name - @Html.FormatValue(ms.Date, "{0:M/d/yy}")</span>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>                                             
    }
</div>       

<partial name="Dashboard/Items/_CreateMilestone"/>

@section Scripts {
    <script src="~/js/Dashboard.js"></script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
    </script>
}